<p id="notice"><%= notice %></p>

<h1>Proyectos</h1>
<br>
<table class="table table-hover">
  <thead>
    <tr class="bg-primary">
      <th>Nombre</th>
      <th>Ubicacion</th>
      <th>Cantidad</th>
      <th>Caracteristicas</th>
      <th>Fotos</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @proyectos.each do |proyecto| %>
      <tr>
        <td><%= proyecto.nombre %></td>
        <td><%= proyecto.ubicacion %></td>
        <td><%= proyecto.cantidad %></td>
        <td><p class="text-justify"><%= proyecto.caracteristicas %></p></td>
        <td><%= image_tag(proyecto.fotos.url, style: 'height:auto;width:150px', alt: 'Fotos') if  proyecto.fotos? %></td>
        <td><%= link_to 'Mostrar', proyecto, :class => "btn btn-outline-primary btn-sm" %></td>
        <td><%= link_to 'Editar', edit_proyecto_path(proyecto) , :class => "btn btn-outline-warning btn-sm"%></td>
        <td><%= link_to 'Eliminar', proyecto, :class=> "btn btn-outline-danger btn-sm", method: :delete, data: { confirm: '¿Está seguro?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nuevo Proyecto', new_proyecto_path, :class => "btn btn-outline-primary" %>

