<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @proyecto.nombre %>
</p>

<p>
  <strong>Ubicacion:</strong>
  <%= @proyecto.ubicacion %>
</p>

<p>
  <strong>Precio:</strong>
  <%= @proyecto.precio %>
</p>

<p>
  <strong>Caracteristicas:</strong>
  <%= @proyecto.caracteristicas %>
</p>

<p>
  <strong>Fotos:</strong>
  <%= @proyecto.fotos %>
</p>

<%= link_to 'Edit', edit_proyecto_path(@proyecto) %> |
<%= link_to 'Back', proyectos_path %>
