<p id="notice"><%= notice %></p>

<h2>Resumen</h2>

<hr>

<p>
  <strong>Nombre:</strong>
  <%= @proyecto.nombre %>
</p>

<p>
  <strong>Ubicacion:</strong>
  <%= @proyecto.ubicacion %>
</p>

<p>
  <strong>Precio por metro cuadrado:</strong>
  <%= @proyecto.cantidad %>
</p>

<p>
  <strong>Caracteristicas:</strong>
  <%= @proyecto.caracteristicas %>
</p>

<p>
  <strong>Fotos:</strong>
    <%= image_tag(@proyecto.fotos.url, style: 'height:auto;width:150px', alt: 'Fotos') if  @proyecto.fotos? %>
</p>

<hr>

<%= link_to 'Editar', edit_proyecto_path(@proyecto), :class => "btn btn-outline-primary"  %> 
<%= link_to 'Regresar', proyectos_path, :class => "btn btn-outline-warning" %>
