<%= form_with(model: departamento, local: true) do |form| %>
  <% if departamento.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(departamento.errors.count, "error") %> prohibited this departamento from being saved:</h2>

      <ul>
        <% departamento.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :proyecto %>
    <%= form.text_field :proyecto %>
  </div>

  <div class="field">
    <%= form.label :area %>
    <%= form.number_field :area %>
  </div>

  <div class="field">
    <%= form.label :habitaciones %>
    <%= form.number_field :habitaciones %>
  </div>

  <div class="field">
    <%= form.label :precio %>
    <%= form.number_field :precio %>
  </div>

  <div class="field">
    <%= form.label :fotos %>
    <%= form.text_field :fotos %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
