<p id="notice"><%= notice %></p>

<h1>Departamentos</h1>

<table>
  <thead>
    <tr>
      <th>Proyecto</th>
      <th>Piso</th>
      <th>Area</th>
      <th>Habitaciones</th>
      <th>Precio</th>
      <th>Fotos</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @departamentos.each do |departamento| %>
      <tr>
        <td><%= departamento.proyecto %></td>
        <td><%= departamento.piso %></td>
        <td><%= departamento.area %></td>
        <td><%= departamento.habitaciones %></td>
        <td><%= departamento.precio %></td>
        <td><%= departamento.fotos %></td>
        <td><%= link_to 'Show', departamento %></td>
        <td><%= link_to 'Edit', edit_departamento_path(departamento) %></td>
        <td><%= link_to 'Destroy', departamento, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Departamento', new_departamento_path %>
