<p id="notice"><%= notice %></p>

<h1>Empleados</h1>

<table>
  <thead>
    <tr>
      <th>Dni</th>
      <th>Nombres</th>
      <th>Apellidos</th>
      <th>Perfil</th>
      <th>Cargo</th>
      <th>Clave</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @empleados.each do |empleado| %>
      <tr>
        <td><%= empleado.dni %></td>
        <td><%= empleado.nombres %></td>
        <td><%= empleado.apellidos %></td>
        <td><%= empleado.perfil %></td>
        <td><%= empleado.cargo %></td>
        <td><%= empleado.clave %></td>
        <td><%= link_to 'Show', empleado %></td>
        <td><%= link_to 'Edit', edit_empleado_path(empleado) %></td>
        <td><%= link_to 'Destroy', empleado, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Empleado', new_empleado_path %>
