<%= form_with(model: citum, local: true) do |form| %>
  <% if citum.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(citum.errors.count, "error") %> No se puede finalizar el registro debido a los siguientes motivos:</h2>

      <ul>
        <% citum.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
<br>
<div class="row">
  <div class="col-6">
    <div class="field">
      <%= form.label :codigo, "Código" %>
      <%= form.text_field :codigo, { :class => "form-control" } %>
    </div>
    <br>
  <div class="field">
    <%= form.label :nombre , "Nombres" %>
    <%= form.text_field :nombre, { :class => "form-control" }%>
  </div>
  <br>

  <div class="field">
    <%= form.label :apellido , "Apellidos" %>
    <%= form.text_field :apellido, { :class => "form-control" } %>
  </div>
<br>
  <div class="field">
    <%= form.label :dni , "DNI" %>
    <%= form.text_field :dni, { :class => "form-control" } %>
  </div>
  <br>
  </div>

<div class="col-6">
  <div class="field">
    <%= form.label :telefono, "Teléfono" %>
    <%= form.text_field :telefono, { :class => "form-control" } %>
  </div>
  <br>

  <div class="field">
    <%= form.label :fecha, "Fecha y hora" %>
    <br>
    <%= form.datetime_select :fecha, { :class => "form-control" } %>
  </div>
  <br>


  <div class="field">
    <%= form.label :estado, "Atendido" %>
    <%= form.check_box :estado %>
  </div>
  <br>
</div>
</div>
  <div class="actions">
    <%= form.submit "Guardar", :class => "btn btn-outline-primary" %>
  </div>
<% end %>

<br>