<p id="notice"><%= notice %></p>
<br>
<p>
  <strong>Código:</strong>
  <%= @citum.codigo %>
</p>

<p>
  <strong>Nombre:</strong>
  <%= @citum.nombre %>
</p>

<p>
  <strong>Apellido:</strong>
  <%= @citum.apellido %>
</p>

<p>
  <strong>DNI:</strong>
  <%= @citum.dni %>
</p>

<p>
  <strong>Teléfono:</strong>
  <%= @citum.telefono %>
</p>

<p>
  <strong>Fecha y hora:</strong>
  <%= @citum.fecha %>
</p>

<p>
  <strong>Estado:</strong>
  <%= @citum.estado ? "Atendido": "No atendido" %>
</p>

<%= link_to 'Editar', edit_citum_path(@citum) %> |
<%= link_to 'Regresar', cita_path %>
