<%= form_with(model: usuario, local: true) do |form| %>
  <% if usuario.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(usuario.errors.count, "error") %> prohibited this usuario from being saved:</h2>

      <ul>
        <% usuario.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :dni %>
    <%= form.text_field :dni %>
  </div>

  <div class="field">
    <%= form.label :nomAp %>
    <%= form.text_field :nomAp %>
  </div>

  <div class="field">
    <%= form.label :perfil %>
    <%= form.text_field :perfil %>
  </div>

  <div class="field">
    <%= form.label :estado %>
    <%= form.text_field :estado %>
  </div>

  <div class="field">
    <%= form.label :contrasena %>
    <%= form.text_field :contrasena %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
